@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 46%, rgba(9,9,121,1) 100%);
}

.info {
    position: absolute;
    border: none;
    border-radius: 10px;
    font-size: 11px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-variant: small-caps;
}

.info img {
    width: 400px;
}

.form{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid dodgerblue;
}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputform {
    position: absolute;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgb(20, 77, 88) 46%, rgb(17, 17, 194) 100%);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
}

#submit:hover {
    background: linear-gradient(90deg, rgb(27, 27, 197) 0%, rgb(28, 107, 122) 46%, rgb(8, 8, 189) 100%);
}